
body {
    background-color: aliceblue;
    padding-top: 2rem;
}

.container {
    background-color: #F0DB46;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.img {
    padding: 2rem;
    padding-left: 250px;
    border-radius: 50px;
}